.ui.inverted.menu {
  background: #3f884c !important;
  // margin-top: 4rem !important;
}
.ui.fixed.menu + .ui.grid {
  padding-top: 0rem !important;
}
.carousel {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
  display: contents !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: stretch !important;
}

.slides {
  margin: 0rem !important;
}
.slick-slide img {
  height: 60vh;
  width: 100vw;
}
.slider-arrow {
  position: absolute !important;
  z-index: 1 !important;
  height: 100% !important;
  width: 100% !important;
}
.slick-prev {
  left: 12px !important;
  z-index: 1 !important;
}
.slick-next {
  right: 50px !important;
  z-index: 1 !important;
}
.slick-prev:before {
  font-family: "slick" !important;
  font-size: 52px !important;
  line-height: 0 !important;
  opacity: 10 !important;
  color: #89b3a9db !important;
}
.slick-next:before {
  font-family: "slick" !important;
  font-size: 52px !important;
  line-height: 0 !important;
  opacity: 10 !important;
  color: #89b3a9db !important;
}
.slide-heading {
  padding-bottom: 0rem !important;
}

.ui.grid > image-car {
  padding-top: 0rem !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.category-grid {
  width: 100vw !important;
  margin-left: 5rem !important;
  margin-right: 5rem !important;
  column-gap: 2em;
}
.category-row {
  width: fit-content !important;
  margin-top: 3em !important;
  margin-left: 0em !important;
}
.category-column {
  width: fit-content !important;
  margin-bottom: 1em !important;
}

.cat-image {
  filter: brightness(60%) !important;
}
.ui.small.image {
  width: 180px !important;
  height: auto !important;
  font-size: 0.92857143rem !important;
}
.list-filters {
  font-weight: bold !important;
  width: fit-content !important;
  padding: 0;
  margin: 0;
  // font-size: medium;
}

.card {
  width: auto !important;
  box-shadow: none !important;
  max-width: 300px !important;
}
/////////////////////------------------ DESIGN for i-Phone -------------------------/////////////////////////////////

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .category-grid {
    width: 100vw !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    column-gap: 2em;
  }
}
